#ConfigPage {
  font-family: 'Patrick Hand', cursive;
  padding-bottom: calc(var(--app-default-spacing) * 3);
}

h1,
h2,
h3,
p {
  font-family: 'Patrick Hand', cursive;
}

h2 {
  margin: 0;
}

.config-h2-vertical-divider {
  width: 100%;
  height: 1px;
  background-color: black;
}

.confg-item-container {
  border-top: 1px solid var(--app-light-gray);
  padding: var(--app-default-spacing) 0;
}

.confg-item-q-and-a {
  display: flex;

  .question {
    flex: 3;
    margin: 0;
    font-weight: bold;
  }

  .value {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--app-light-gray);
    border-radius: var(--app-default-border-radius);
    margin-left: var(--app-default-spacing);
    padding: calc(var(--app-default-spacing) / 2);

    span {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}

.problem-config-item-container {
  display: flex;
  align-items: center;
  margin-bottom: var(--app-default-spacing);
  min-height: 4rem;

  p {
    flex: 1;
    margin-right: var(--app-default-spacing);
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.mat-form-field {
  flex: 1;
  width: 6rem;
  min-width: 0;
}

.mat-flat-button,
.mat-stroked-button {
  width: 100%;
  height: 48px;
}

.mat-slider {
  width: 100%;
}

.disabled {
  color: lightgray;
}
