<div id="ConfigPage" class="app-page-wrapper">
  <h1>Configuração</h1>

  <p>Use este valores para customizar a dificuldade das perguntas.</p>

  <div class="app-vertical-spacer"></div>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> <h2>Adição</h2> </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="confg-item-container">
        <div class="confg-item-q-and-a">
          <h3 class="question">
            Até quantos números podem fazer parte de uma conta de adição?
          </h3>
          <div class="value">
            <span>{{ config.adition.maxNumberOfNumbers }}</span>
          </div>
        </div>

        <div class="app-vertical-spacer"></div>

        <mat-slider
          max="10"
          min="2"
          step="1"
          tickInterval="1"
          [thumbLabel]="true"
          [(ngModel)]="config.adition.maxNumberOfNumbers"
          (ngModelChange)="onChanges()"
        ></mat-slider>

        <p>Por exemplo, 6 + 4 + 7 é uma conta com 3 números.</p>
      </div>

      <div class="confg-item-container">
        <div class="confg-item-q-and-a">
          <h3 class="question">
            Qual é o valor máximo de cada número de adição?
          </h3>
          <div class="value">
            <span>{{ config.adition.maxValue }}</span>
          </div>
        </div>

        <div class="app-vertical-spacer"></div>

        <mat-slider
          max="10000"
          min="10"
          step="10"
          tickInterval="1"
          [thumbLabel]="true"
          [(ngModel)]="config.adition.maxValue"
          (ngModelChange)="onChanges()"
        ></mat-slider>

        <p>
          Por exemplo, 4 + 7 + 10 é uma possibilidade quando o valor máximo for
          10.
        </p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> <h2>Subtração</h2> </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="confg-item-container">
        <div class="confg-item-q-and-a">
          <h3 class="question">
            Até quantos números podem fazer parte de uma conta de subtração?
          </h3>
          <div class="value">
            <span>{{ config.subtraction.maxNumberOfNumbers }}</span>
          </div>
        </div>

        <div class="app-vertical-spacer"></div>

        <mat-slider
          max="10"
          min="2"
          step="1"
          tickInterval="1"
          [thumbLabel]="true"
          [(ngModel)]="config.subtraction.maxNumberOfNumbers"
          (ngModelChange)="onChanges()"
        ></mat-slider>

        <p>Por exemplo, 9 - 5 - 3 é uma conta com 3 números.</p>
      </div>

      <div class="confg-item-container">
        <div class="confg-item-q-and-a">
          <h3 class="question">
            Qual é o valor máximo do maior número da conta de subtração?
          </h3>
          <div class="value">
            <span>{{ config.subtraction.maxValue }}</span>
          </div>
        </div>

        <div class="app-vertical-spacer"></div>

        <mat-slider
          max="10000"
          min="10"
          step="10"
          tickInterval="1"
          [thumbLabel]="true"
          [(ngModel)]="config.subtraction.maxValue"
          (ngModelChange)="onChanges()"
        ></mat-slider>

        <p>
          Por exemplo, 10 - 7 - 4 é uma possibilidade quando o valor máximo for
          10.
        </p>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> <h2>Multiplicação</h2> </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="confg-item-container">
        <div class="confg-item-q-and-a">
          <h3 class="question">
            Até quantos números podem fazer parte de uma conta de multiplicação?
          </h3>
          <div class="value">
            <span>{{ config.multiplication.maxNumberOfNumbers }}</span>
          </div>
        </div>

        <div class="app-vertical-spacer"></div>

        <mat-slider
          max="10"
          min="2"
          step="1"
          tickInterval="1"
          [thumbLabel]="true"
          [(ngModel)]="config.multiplication.maxNumberOfNumbers"
          (ngModelChange)="onChanges()"
        ></mat-slider>

        <p>Por exemplo, 6 x 4 x 7 é uma conta com 3 números.</p>
      </div>

      <div
        class="confg-item-container"
        *ngFor="let value of config.multiplication.maxValues; index as i"
      >
        <div class="confg-item-q-and-a">
          <h3 class="question">
            Qual é o valor máximo do {{ i + 1 }}º número da conta de
            multiplicação?
          </h3>
          <div class="value">
            <span>{{ config.multiplication.maxValues[i] }}</span>
          </div>
        </div>

        <div class="app-vertical-spacer"></div>

        <mat-slider
          max="100"
          min="1"
          step="1"
          tickInterval="1"
          [thumbLabel]="true"
          [(ngModel)]="config.multiplication.maxValues[i]"
          (ngModelChange)="onChanges()"
        ></mat-slider>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> <h2>Divisão</h2> </mat-panel-title>
      </mat-expansion-panel-header>

      <div
        class="confg-item-container"
        *ngFor="let value of config.division.maxValues; index as i"
      >
        <div class="confg-item-q-and-a">
          <h3 class="question">
            Qual é o valor máximo do {{ i + 1 }}º número da conta de divisão?
          </h3>
          <div class="value">
            <span>{{ config.division.maxValues[i] }}</span>
          </div>
        </div>

        <div class="app-vertical-spacer"></div>

        <mat-slider
          max="100"
          min="1"
          step="1"
          tickInterval="1"
          [thumbLabel]="true"
          [(ngModel)]="config.division.maxValues[i]"
          (ngModelChange)="onChanges()"
        ></mat-slider>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <h2>Probleminhas</h2>
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div class="confg-item-container">
        <div class="problem-config-item-container">
          <p>Incluir problemas de adição</p>
          <mat-slide-toggle
            [(ngModel)]="operationsConfig.Adition"
            (ngModelChange)="onChanges()"
          ></mat-slide-toggle>
        </div>

        <div class="problem-config-item-container">
          <p>Incluir problemas de subtração</p>
          <mat-slide-toggle
            [(ngModel)]="operationsConfig.Subtraction"
            (ngModelChange)="onChanges()"
          ></mat-slide-toggle>
        </div>

        <div class="problem-config-item-container">
          <p>Incluir problemas de multiplicação</p>
          <mat-slide-toggle
            [(ngModel)]="operationsConfig.Multiplication"
            (ngModelChange)="onChanges()"
          ></mat-slide-toggle>
        </div>

        <div class="problem-config-item-container">
          <p>Incluir problemas de divisão</p>
          <mat-slide-toggle
            [(ngModel)]="operationsConfig.Division"
            (ngModelChange)="onChanges()"
          ></mat-slide-toggle>
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <div class="app-vertical-spacer"></div>
  <div class="app-vertical-spacer"></div>

  <a [routerLink]="'/'">
    <button mat-stroked-button color="primary">
      Voltar á página inicial
      <span class="material-icons-outlined"> home </span>
    </button>
  </a>
</div>
