/* You can add global styles to this file, and also import other style files */
@use './theme.scss';

:root {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: 'Patrick Hand', cursive;
}

.app-page-wrapper {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  max-width: 1224px;
  padding: 2.4rem;
}

.app-vertical-spacer {
  height: var(--app-default-spacing);
}

.mat-button,
.mat-raised-button,
.mat-icon-button,
.mat-stroked-button,
.mat-flat-button,
.mat-fab,
.mat-mini-fab {
  font-size: 1.8rem;
}

input {
  border: 2px solid rgba(0, 0, 0, 0.26);
  border-radius: 2px;
  font-size: 4rem;
  display: block;
  font-family: 'Roboto Mono', monospace;
  border-radius: 2px;
}

input.correct {
  border: 4px solid green;
}

input.wrong {
  border: 4px solid red;
}
