<div class="app-page-wrapper">
  <a [routerLink]="'/add'">
    <button mat-stroked-button color="primary">Adição</button>
  </a>

  <a [routerLink]="'/subtract'">
    <button mat-stroked-button color="primary">Subtração</button>
  </a>

  <a [routerLink]="'/multiply'">
    <button mat-stroked-button color="primary">Multiplicação</button>
  </a>

  <a [routerLink]="'/problem'">
    <button mat-stroked-button color="primary">Probleminhas</button>
  </a>

  <div class="app-vertical-divider"></div>

  <div class="app-vertical-spacer"></div>

  <div class="app-vertical-spacer"></div>

  <div class="app-center-content">
    <a [routerLink]="'/config'">
      <button mat-button class="black-button">
        <span class="material-icons"> settings </span> Configure o nível de
        dificuldade
      </button>
    </a>
  </div>
</div>
