#problemPage {
  position: relative;
  font-family: 'Patrick Hand', cursive;
}

.is-correct-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: #f1f8e9;
  background-image: url('/assets/2979685-removebg-preview.png');
  background-size: cover;
  background-repeat: repeat;
  background-position: top;
  opacity: 0.25;
}

p {
  font-size: 3rem;
  line-height: 4rem;
}

input {
  width: 100%;
}

input.correct {
  border: 4px solid green;
}

input.wrong {
  border: 4px solid red;
}

caption {
  display: block;
  width: 100%;
}

caption.correct {
  color: green;
}

caption.wrong {
  color: red;
}

.mat-flat-button,
.mat-stroked-button {
  width: 100%;
  height: 48px;
}
